.realisations-carousel {
    width: 100%;
    /* overflow: hidden; */
  }


.carousel-image {
  border-radius: 20px;
  overflow: hidden;
  transition: 
    transform 0.4s ease, 
    opacity 0.4s ease;
}

.carousel-image img {
  width: 600px;
  height: 100%;
  object-fit: cover;
}


.side-image {
  opacity: 0.65;
  transform: scale(0.85);
  flex-shrink: 0;
  cursor: pointer;
}

.center-image {
  opacity: 1;
  transform: scale(1);
  cursor: default;
  flex-shrink: 0;
}



/* @media screen and (max-width: 768px) {
  .side-image {
    display: none;
  }

  .center-image {
    width: 90%;
  }

  .carousel-image img {
    height: 260px;
  }  
}  */


